/* CSS HEX 
--cg-blue: #227c9dff;
--light-sea-green: #17c3b2ff;
--maximum-yellow-red: #ffcb77ff;
--floral-white: #fef9efff;
--light-coral: #fe6d73ff;
*/
body {
    background-color: #fff;
}

header {
    background-color: #ffcb77ff;
    width: 100%;
    float: left;
}

header nav a {
    background-color: #fe6d73ff;
    color: #227c9dff;
    border: 1px solid black;
    padding: 15px;
    margin: 0;
    width: 33.3%;
    float: left;
    text-align: center;
}

header nav a[href="#"], header nav a:hover {
    color: #fe6d73ff;
    background-color: #227c9dff;
}

main h1 {
    line-height: 0;
    font-size: 0;
}

main {
    width: 100%;
    padding: 0;
    margin: 0;
}

#main-content {
    width: 70%; 
    padding: 5px;
    background-color: pink;
}
.vContainer{
    display: flex;
    flex-flow: column wrap;
}
.hContainer{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

}

div#main-section {
    padding: 5px;
}

section { 
    min-height: 75px;
    padding: 5px;
    border: 1px solid black;
    background-color: #17c3b2ff;
}

#side-content {
    width: 30%; 
    background-color: gray;
}

 /*#side-content .flex-container {
    flex-flow: column;
}*/

footer {
    background-color: #ffcb77ff;
    width: 100%;
}

footer div {
    padding: 10px;
    margin: 0;
}

footer img {
    width: 144px;
    height: auto;   
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

.float-left {
    float: left;
}

#item-menu  div { 
    border: 3px solid black;
    background-color: #fe6d73ff;
    color: #227c9dff;;
}

.item-detail {
    background-color: #17c3b2ff;
    border: 5px solid #ffcb77ff;
}

.item-detail div {
    float: left;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    #main-content {
        width: 100%;
    }

    #side-content {
        width: 100%;
    }

    header nav a {
        width: 100%;
    }
}


